# IA model config
IA_MODEL_HOST=http://localhost:11434
# IA_MODEL_NAME=claude-3-5-sonnet-20241022:latest
IA_MODEL_EMBEDDED_NAME=nomic-embed-text:latest
IA_MODEL_AGENT_NAME=claude-3-5-sonnet-20241022:latest
IA_MODEL_API_KEY=ollama
IA_MODEL_TEMPERATURE=0

# pineconde config
PINECONE_API_KEY=
PINECONE_ENVIRONMENT=us-east-1
PINECONDE_INDEX_NAME=rag-lab
PINECONDE_INDEX_DIMENTIONS=768
PINECONE_INDEX_METRIC=cosine

# AI model configurations
AI_MODEL_ENGINES_HOST=http://127.0.0.1:11434
AI_MODEL_EMBEDDED_MODEL_NAME=nomic-embed-text:latest
AI_MODEL_AGENT_MODEL_NAME=claude-3-5-sonnet-20241022:latest
AI_MODEL_API_KEY=ollama
AI_MODEL_TEMPERATURE=0

# ============================================================
# AI / Ollama
# ============================================================

IA_MODEL_HOST=http://localhost:11434

IA_MODEL_EMBEDDED_NAME=nomic-embed-text:latest
IA_MODEL_AGENT_NAME=claude-3-5-sonnet-20241022:latest
IA_MODEL_API_KEY=ollama
IA_MODEL_TEMPERATURE=0


# ============================================================
# Pinecone Local
# ============================================================

PINECONE_HOST=http://localhost:5081
PINECONE_INDEX_NAME=rag-lab
PINECONE_INDEX_DIMENSIONS=768
PINECONE_INDEX_METRIC=cosine
